<footer class="bg-main-light py-4">
    <div class="container">
        <h2>Get the FreshCart App </h2>
        <p class="text-muted"> We Will Send You a link</p>
        <div class="d-flex gap-3">
    <input type="email" class="form-control" placeholder="Email...">
    <button class="btn-main flex-shrink-0">Share App Link</button>

        </div>
        <hr>
        <img src="./assets/image/mastercard-2.png" height="80px" >
        <img src="./assets/image/visa-2.png" height="80px">


        <h3 class="h6 text-center">&copy;2024Selma Mubarak All Right Reserved</h3>
    </div>
</footer>

