<section>
   <table class="table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">totalOrderPrice</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let item of allorders">
              <td>
                  {{item.user.name}}
              </td>
              <td>
                  {{item.user.phone}}
              </td>
              <td>
               {{item.totalOrderPrice}}
           </td>
      </tbody>
  </table>
</section>